<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        title: experience.company,
        subtitle: experience.position,
        start_date: experience.start,
        end_date: experience.end,
        description: experience.description
    %>
</div>