<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        title: experiences.company,
        subtitle: experiences.position,
        start_date: experiences.start,
        end_date: experiences.end,
        description: experiences.description
    %>
</div>