<div class="mt-4 text-gray-500 ml-5">
    <%= render 'shared/profile/item_with_description_proj', 
        title: project.title,
        subtitle: project.project_url,
        tech_stack: project.tech_stack,
        description: project.description
    %>
</div>